<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Show Information</title>
</head>
<body>
  <h2>Showz Python CLI tool</h2>
  <p>Movie/ Show Name: Voltron: Legendary Defender</p>
  <p>Genre: Action, Children, Science-Fiction</p>
  <p>Premiered: Unknown</p>
  <p>Official Site: <a href="https://www.netflix.com/title/80075595">https://www.netflix.com/title/80075595</a> </p>
  <p>Rating: 7.9</p>
  </hr>
  <h4>Summary</h4>
  <p>In an all-new series, five unlikely heroes and their flying robot lions unite to form the megapowerful Voltron and defend the universe from evil.</p>
  </hr>
  <img src="https://static.tvmaze.com/uploads/images/medium_portrait/52/130137.jpg" alt="Your show image">
  </hr>
</body>
</html>
